<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

      <h:head>
          <title>Hello World - Input Form</title>
      </h:head>
      <h:body>
          <h:form>
              <h:inputText id="name" value="#{theUserName}" a:placeholder="What's your name?" />
              <h:commandButton value="Submit" action="myresponse" />
          </h:form>

      </h:body>

</html>
