<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

      <h:head>
          <title>Hello World - Response</title>
      </h:head>
      <h:body>

          Hello, #{theUserName}

      </h:body>


</html>